@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@*
<label data-bind="text: Email"></label>
<label data-bind="text: Password"></label>
*@

<div>
    @*USERNAME*@
    <div>
        <label>E-MAIL:</label>
        <input data-bind="value: Email" />
    </div>

    @*PASSWORD*@
    <div>
        <label>PASSWORD:</label>
        <input data-bind="value: Password" />
    </div>

    @*BUTTONS*@
    <div>
        <button data-bind="click: Login">LOGIN</button>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/PageScripts/LoginModel.js"></script>
}
